body{
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    min-height: 94vh;
    
}
.keys{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.key{
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: rgba(145, 145, 145, 0.281);
    width: 10vh;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    /* display: inline-block; */
    border: 2px solid #00d7c3;
    border-radius: 50px;
    transition: all .15s ease-in-out;

}
span{
    padding: 1px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #00d7c3 ;
}
kbd{
    font-size: x-large;
    font-weight: bolder;
}
.playing {
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
}